<article class="modular section-iconbuttons col-12 col-md-12">
{% if page.header.showtitle == 1 %}
    <{% if page.header.titleh == 1 %}h1{% elseif page.header.titleh == 2 %}h3{% else %}h2{% endif %} class="heading">{{ page.header.title }}
    </{% if page.header.titleh == 1 %}h1{% elseif page.header.titleh == 2 %}h3{% else %}h2{% endif %}>
{% endif %}

    <div class="row iconbuttons">

    {% for button in page.header.buttons %}
    <div class="col-md-6">
      {% set image = button.icon %}
      <div class="row">
        <div class="col-3 iconbuttonsimgdiv">
        <img src="{{ page.media[image].url }}" />
        </div>
        <div class="col-9">
        <h3>{{ button.name }}</h3>
        <div>{{ button.txt }}</div>
        <a class="linksbutton{% if page.header.block == 1 %} block{% endif %}" target="{% if button.newwindow == 1 %}_blank{% endif %}"
        href="{{ button.link }}"
        style="{% if page.header.fixedwidth %}width:{{ page.header.fixedwidth }}{% endif %}">{{ button.btntxt }}</a>
        </div>
      </div>
     </div>
    {% endfor %}
    </div>
</article>
