<article class="modular section-image col-12 {% if page.header.column == 2 or page.header.column == 3 %}col-md-12{% elseif page.header.column == 4 %}col-md-4{% elseif page.header.column == 5 %}col-md-8{% elseif page.header.column == 6 %}col-md-3{% elseif page.header.column == 7 %}col-md-2{% else %}col-md-6{% endif %}{% if page.header.column == 3 %} centermark{% endif %}">
    {% if page.header.showtitle == 1 %}<h2 class="heading{% if page.header.column == 3 %} centermark{% endif %}">{{ page.header.title }}</h2>{% endif %}


    {% if page.header.image | first is iterable %}
      {% set imgtemp = page.header.image | first %}
      {% set image = page.media[imgtemp.name] %}
    {% else %}
      {% set image = page.media | first %}
    {% endif %}
    {% set fileType = image.type %}



    {% if page.header.scale == 1 %}
        {% set resize = 3 / 4 %}
    {% elseif page.header.scale == 2 %}
        {% set resize = 9 / 16 %}
    {% elseif page.header.scale == 3 %}
        {% set resize = 1 / 2.35 %}
    {% elseif page.header.scale == 4 %}
        {% set resize = 1 %}
    {% elseif page.header.scale == 5 %}
        {% set resize = 4 / 3 %}
    {% endif %}

  <div class="media-container {% if page.header.showtitle == 2 %}title-placeholder{% endif %}{% if page.header.column == 3 %} centermark{% endif %}" {% if page.header.marginright is defined %}data-padding="{{ page.header.marginright }}"{% endif %}>
    {% if page.header.link %}
      <a href="{{ page.header.link }}" {% if page.header.window == 1 %}target="_blank"{% endif %}>
    {% endif %}

      {% if fileType starts with 'video' %}
        
                    <video autoplay muted loop src="{{image.url | raw}}" class="imagemodule-video"></video>
                  
                   
      {% else %}
        {% if theme_var('header.imagesizing') == 1 %}
            {% if page.header.column == 2 or page.header.column == 3  %}
                    <picture>
                  <source media="(min-width:992px)" srcset="{% if page.header.cropzoom %}{{ image.resize(1250,1250 * resize).url }}{% else %}{{ image.cropZoom(1250,1250 * resize).url }}{% endif %} 1x, {% if page.header.cropzoom %}{{ image.resize(2500,2500 * resize).url }}{% else %}{{ image.cropZoom(2500,2500 * resize).url }}{% endif %} 2x">
                  <source media="(min-width:870px)" srcset="{% if page.header.cropzoom %}{{ image.resize(840,840 * resize).url }}{% else %}{{ image.cropZoom(840,840 * resize).url }}{% endif %} 1x, {% if page.header.cropzoom %}{{ image.resize(1680,1680 * resize).url }}{% else %}{{ image.cropZoom(1680,1680 * resize).url }}{% endif %} 2x">
                  <source media="(min-width:500px)" srcset="{% if page.header.cropzoom %}{{ image.resize(510,510 * resize).url }}{% else %}{{ image.cropZoom(510,510 * resize).url }}{% endif %} 1x, {% if page.header.cropzoom %}{{ image.resize(1020,1020 * resize).url }}{% else %}{{ image.cropZoom(1020,1020 * resize).url }}{% endif %} 2x">
                  <source media="(max-width:499px)" srcset="{% if page.header.cropzoom %}{{ image.resize(450,450 * resize).url }}{% else %}{{ image.cropZoom(450,450 * resize).url }}{% endif %} 1x, {% if page.header.cropzoom %}{{ image.resize(900,900 * resize).url }}{% else %}{{ image.cropZoom(900,900 * resize).url }}{% endif %} 2x">
                      <img class="media" style="width:100%;" title="{{ page.header.title }}" alt="{{ page.header.alt }}" src="{% if page.header.cropzoom %}{{ image.resize(1280,1280 * resize).url }}{% else %}{{ image.cropZoom(1280,1280 * resize).url }}{% endif %}" />
                    </picture>
            {% else %}
                    <picture>
                  <source media="(min-width:1220px)" srcset="{% if page.header.cropzoom %}{{ image.resize(610,610 * resize).url }}{% else %}{{ image.cropZoom(610,610 * resize).url }}{% endif %} 1x, {% if page.header.cropzoom %}{{ image.resize(900,900 * resize).url }}{% else %}{{ image.cropZoom(900,900 * resize).url }}{% endif %} 2x">
                <source media="(min-width:992px)" srcset="{% if page.header.cropzoom %}{{ image.resize(450,450 * resize).url }}{% else %}{{ image.cropZoom(450,450 * resize).url }}{% endif %} 1x, {% if page.header.cropzoom %}{{ image.resize(800,800 * resize).url }}{% else %}{{ image.cropZoom(800,800 * resize).url }}{% endif %} 2x">
              <source media="(min-width:500px)" srcset="{% if page.header.cropzoom %}{{ image.resize(510,510 * resize).url }}{% else %}{{ image.cropZoom(510,510 * resize).url }}{% endif %} 1x, {% if page.header.cropzoom %}{{ image.resize(900,900 * resize).url }}{% else %}{{ image.cropZoom(900,900 * resize).url }}{% endif %} 2x">
            <source media="(max-width:499px)" srcset="{% if page.header.cropzoom %}{{ image.resize(450,450 * resize).url }}{% else %}{{ image.cropZoom(450,450 * resize).url }}{% endif %} 1x, {% if page.header.cropzoom %}{{ image.resize(900,900 * resize).url }}{% else %}{{ image.cropZoom(900,900 * resize).url }}{% endif %} 2x">
                      <img class="media" style="width:100%;" title="{{ page.header.title }}" alt="{{ page.header.alt }}" src="{% if page.header.cropzoom %}{{ image.resize(1280,1280 * resize).url }}{% else %}{{ image.cropZoom(1280,1280 * resize).url }}{% endif %}" />
                    </picture>
            {% endif %}
        {% else %}
        <img class="media {% if theme_var('site.slideimagesin') and header.slidein %}slide-in{% endif %}" title="{{ page.header.title }}" alt="{{ page.header.alt }}" src="{% if page.header.cropzoom %}{{ image.resize(1280,1280 * resize).url }}{% else %}{{ image.cropZoom(1280,1280 * resize).url }}{% endif %}" />

        {% endif %}
      {% endif %}
        {% if page.header.description %}
            {% if page.header.description_position == 1 %}
                <div class="caption_1">{{ page.header.description }}</div>
            {% endif %}

        {% endif %}
    {% if page.header.link %}</a>{% endif %}
    </div>
    {% if page.header.description %}
      {% if page.header.description_position == 2 %}
        <div class="caption_2">{{ page.header.description }}</div>
      {% endif %}
    {% endif %}

    {% if page.header.button is defined %}
      <div class="imgbuttons">
        {% if page.header.button | length < 5 and page.header.button | length > 1 %}
          <div class="row">
            {% for button in page.header.button %}
              <div class="col-12 col-md-{{ 12 / page.header.button | length }}">
                <a class="button" href="{{ button.url }}" {% if button.newtab == 1 %}target="_blank"{% endif %}>{{ button.title }}</a>
              </div>
            {% endfor %}
          </div>
        {% else %}
          {% for button in page.header.button %}
            <a class="button" href="{{ button.url }}" {% if button.newtab == 1 %}target="_blank"{% endif %}>{{ button.title }}</a>
          {% endfor %}
        {% endif %}
      </div>
    {% endif %}

</article>
