<article class="modular section-image col-12 {% if page.header.column == 2 or page.header.column == 3 %}col-md-12{% elseif page.header.column == 4 %}col-md-4{% else %}col-md-6{% endif %}{% if page.header.column == 3 %} centermark{% endif %}">
    {% if page.header.showtitle == 1 %}<h2 class="heading{% if page.header.column == 3 %} centermark{% endif %}">{{ page.header.title }}</h2>{% endif %}
    {% set image = page.header.image | first %}
    {% if page.header.scale == 1 %}
        {% set resize = 1280 * 3 / 4 %}
    {% elseif page.header.scale == 2 %}
        {% set resize = 1280 * 9 / 16 %}
    {% elseif page.header.scale == 3 %}
        {% set resize = 1280 * 1 / 2.35 %}
    {% elseif page.header.scale == 4 %}
        {% set resize = 1280 %}
    {% endif %}
    <div class="media-container {% if page.header.showtitle == 2 %}title-placeholder{% endif %}{% if page.header.column == 3 %} centermark{% endif %}">
        <img class="media" title="{{ page.header.title }}" alt="{{ page.header.alt }}" src="{{ page.media[image.name].cropZoom(1280,resize).url }}" />

        {% if page.header.description %}
            {% if page.header.description_position == 1 %}
                <div class="caption_1">{{ page.header.description }}</div>
            {% endif %}

        {% endif %}
    </div>
    {% if page.header.description %}
      {% if page.header.description_position == 2 %}
        <div class="caption_2">{{ page.header.description }}</div>
      {% endif %}
    {% endif %}


</article>
