<section class="modular section-teamlist col-12">
{% if page.header.showtitle == 1 %}<h2 class="heading headingteam">{{ page.header.title }}</h2>{% endif %}
  <div class="container">
    <div class="row">
      {% for person in page.header.personen %}
        <article class="person col-12 col-lg-6">
          <div class="person-image">
            {% set image = person.image|first %}
            {{ page.media[image.name].cropZoom(500,500).html }}
          </div>
          <div class="person-detail">
            <h4 class="person-name">{{ person.name }}</h4>
            <span class="person-position">{{ person.position }}</span>
            {% if page.header.contactbutton == 0 %}
            <span class="person-email">
              <a href="mailto:{{ person.email|safe_email }}">
                {{ person.email }}
              </a>
            </span>
            {% endif %}
            <span class="person-text">{{ person.text | markdown }}</span>
            {% if page.header.contactbutton == 1 %}
              <span class="person-email">
                <a class="teamemail" href="mailto:{{ person.email|safe_email }}">
                  {{ page.header.contacttext }}
                </a>
              </span>
          {% endif %}
          </div>

        </article>

      {% endfor %}
    </div>
  </div>

</section>
