<section class="modular section-teamlist col-12">
{% if page.header.showtitle == 1 %}<h2 class="heading headingteam">{{ page.header.title }}</h2>{% endif %}
  <div class="container">
    <div class="row">
      {% for person in page.header.personen %}
    <article class="person col-12 {% if page.header.textpos == 0 %}col-lg-6{% else %}col-lg-4{% endif %}">


        <div class="person-image{% if page.header.textpos == 1 %}full{% endif %}">

          {% if person.image|first is iterable %}
            {% set imgtemp = person.image|first %}
            {% set image = page.media[imgtemp.name] %}
          {% else %}
            {% set imgtemp = person.image %}
            {% set image = page.media[imgtemp] %}
          {% endif %}

            {% if theme_var('header.imagesizing') == 1 %}
              <picture>
              <source media="(min-width:1220px)" srcset="{{ image.cropZoom(358,358).url }} 1x, {{ image.cropZoom(716,716).url }} 2x">
              <source media="(min-width:992px)" srcset="{{ image.cropZoom(261,261).url }} 1x, {{ image.cropZoom(522,522).url }} 2x">
              <source media="(min-width:870px)" srcset="{{ image.cropZoom(742,742).url }} 1x, {{ image.cropZoom(1484,1484).url }} 2x">
              <source media="(min-width:500px)" srcset="{{ image.cropZoom(538,538).url }} 1x, {{ image.cropZoom(1076,1076).url }} 2x">
              <source media="(max-width:499px)" srcset="{{ image.cropZoom(370,370).url }} 1x, {{ image.cropZoom(740,740).url }} 2x">
                <img class="media" style="width:inherit;" title="{{ page.header.title }}" alt="{{ page.header.alt }}" src="{{ image.cropZoom(700,700).url }}" />
              </picture>
            {% else %}
              <img src="{{ image.cropZoom(500,500).url }}" alt="{{ person.name }}" title="{{ person.name }}" />
            {% endif %}

          </div>
          <div class="person-detail">
          {% if page.header.textpos == 1 %}
            <span class="person-position mtop">{{ person.position }}</span>
            <h4 class="person-name">{{ person.name }}</h4>
          {% else %}
            <h4 class="person-name">{{ person.name }}</h4>
            <span class="person-position">{{ person.position }}</span>
          {% endif %}

            {% if page.header.contactbutton == 0 %}
            <span class="person-email">
              <a href="mailto:{{ person.email|safe_email }}">
                {{ person.email }}
              </a>
            </span>
            {% endif %}
            <span class="person-text">{{ person.text | markdown }}</span>
            {% if page.header.contactbutton == 1 %}
              <span class="person-email">
                <a class="teamemail" href="mailto:{{ person.email|safe_email }}">
                  {{ page.header.contacttext }}
                </a>
              </span>
          {% endif %}
          </div>
        </article>

      {% endfor %}
    </div>
  </div>

</section>
