{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
{% set favicon = theme_var('site.favicon') %}
{% set removehead = false %}
{% if page.header.removeheader == true or page.template == 'catfilter' or page.template == 'catpost' %}
{% set removehead = true %}
{% endif %}
<!DOCTYPE html>
<html lang="{{ grav.language.getLanguage ?: 'de' }}">
  <head>
    {% block head %}
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      {{ theme_var('header.javascript')|raw }}
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="apple-mobile-web-app-capable" content="yes"/>
      {% include 'partials/metadata.html.twig' %}
      {% if favicon %}
        {% set favicon_file = (favicon | first).name %}
        <link rel="icon" type="image/png" href="{{ url('theme://custom/favicon/' ~ favicon_file) }}" sizes="32x32"/>
        <link rel="apple-touch-icon" href="{{ url('theme://custom/favicon/' ~ favicon_file) }}">
      {% else %}
        <link rel="icon" type="image/png" href="{{ url('theme://images/favicon.png') }}" sizes="32x32"/>
        <link rel="apple-touch-icon" href="{{ url('theme://images/favicon.png') }}">
      {% endif %}
      <link rel="canonical" href="{{ page.url(true, true) }}"/>
      <title>
        {% if header.title and page.header.markdown.title == false %}{{ header.title|e('html') }}
          |
        {% endif %}{{ site.title|e('html') }}</title>
      {% if theme_var('style.fonts.import') %}

        {% if theme_var ('style.fonts.google') %}
          <link rel="preconnect" href="https://fonts.gstatic.com" />
          <link
            rel="preload"
            as="style"
            href="{{ theme_var('style.fonts.import') }}"
          />
          <link
            rel="stylesheet"
            href="{{ theme_var('style.fonts.import') }}"
            media="print"
            onload="this.media='all'"
          />
          <noscript>
            <link
              rel="stylesheet"
              href="{{ theme_var('style.fonts.import') }}"
            />
          </noscript>
        {% else %}
          <link rel="preload" as="style" href="{{ theme_var('style.fonts.import') }}" onload="this.rel='stylesheet'" />
        {% endif %}
      {% endif %}
      {% if theme_var('style.fonts.customhtml') %}
        {{ theme_var('style.fonts.customhtml') }}
      {% endif %}
      {% block assets deferred %}
        {{ assets.css()|raw }}
        {{ assets.js()|raw }}
      {% endblock %}

      {% if theme_var('header.kundencode') == 'immosit' %}
      {% do assets.addJs('system://assets/jquery/jquery-2.x.min.js') %}
      {% do assets.addJs('theme://build/js/moment.min.js') %}
      {% do assets.addJs('theme://build/js/daterangepicker.js') %}
      {% do assets.addCss('theme://build/css/daterangepicker.css') %}
      {% endif %}


      {% if theme_var('site.slideimagesin') %}
      <style>
      body {
      overflow-x:hidden;
      }

      .slide-in {
          opacity:0 !important;
          {% if theme_var('header.kundencode') == 'brodbeck' %}
          transform: scale(1.35,1.35);
          {% endif %}
          transition: all 0.5s ease-in-out;
         -webkit-transition: all 0.5s ease-in-out;
        }
        .active {
          opacity:1 !important;
          {% if theme_var('header.kundencode') == 'brodbeck' %}
          transform: scale(1,1);
          {% endif %}
           transition: all 0.5s ease-in-out;
          -webkit-transition: all 0.5s ease-in-out;
          transform: translateX(0%) !important;

        }

 </style>

        {% endif %}

    {% if page.header.slideshow %}
    <style>


    .bgslide,
    .bgslide:after {
        position: fixed;
        {% if theme_var('header.kundencode') == 'brodbeck' %}
        width: 50%;
        left: 25%;
        {% else %}
        width: 100%;
        left: 0px;
        {% endif %}
        height: 100%;
        top: 0px;
        z-index: 0;
    }
    {% if theme_var('header.kundencode') == 'brodbeck' %}
    @media (max-width:991px) {
      .bgslide,
      .bgslide:after {
      width:100%;
      left:0%;
      }
    }

    {% endif %}
    .bgslidew:after {
        content: '';
        background: transparent;
    }



    {% set b = 5 %}
    {% set c = 5 %}

    {% set i = 0 %}
    {% for img in page.media %}

    .bgslide .hiddensli:nth-child({{ i + 1 }}) {
        background-image: url('{{img.url}}');
        -webkit-animation-delay: {{ i * c }}s;
        -moz-animation-delay: {{ i * c }}s;
        -o-animation-delay: {{ i * c }}s;
        -ms-animation-delay: {{ i * c }}s;
        animation-delay: {{ i * c }}s;
    }




    {% set i = i + 1 %}
    {% endfor %}

    .bgslide .hiddensli {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        color: transparent;
        background-size: contain;

        background-position: 50% 50%;
        background-repeat: no-repeat;
        opacity: 0;
        z-index: 0;
    	-webkit-backface-visibility: hidden;
      -webkit-animation: imageAnimation {{ page.media|length * b }}s linear infinite 0s;
  -moz-animation: imageAnimation {{ page.media|length * b }}s linear infinite 0s;
  -o-animation: imageAnimation {{ page.media|length * b }}s linear infinite 0s;
  -ms-animation: imageAnimation {{ page.media|length * b }}s linear infinite 0s;
  animation: imageAnimation {{ page.media|length * b }}s linear infinite 0s;


    }





        @-webkit-keyframes imageAnimation {
            0% { opacity: 0;
            -webkit-animation-timing-function: ease-in; }
            {{ 32 / page.media|length }}% { opacity: 1;
                 -webkit-animation-timing-function: ease-out; }
            {{ 64 / page.media|length }}% { opacity: 1 }
            {{ 96 / page.media|length }}% { opacity: 0 }
            100% { opacity: 0 }
        }
        @-moz-keyframes imageAnimation {
            0% { opacity: 0;
            -moz-animation-timing-function: ease-in; }
            {{ 32 / page.media|length }}% { opacity: 1;
                 -moz-animation-timing-function: ease-out; }
            {{ 64 / page.media|length }}% { opacity: 1 }
            {{ 96 / page.media|length }}% { opacity: 0 }
            100% { opacity: 0 }
        }
        @-o-keyframes imageAnimation {
            0% { opacity: 0;
            -o-animation-timing-function: ease-in; }
            {{ 32 / page.media|length }}% { opacity: 1;
                 -o-animation-timing-function: ease-out; }
            {{ 64 / page.media|length }}% { opacity: 1 }
            {{ 96 / page.media|length }}% { opacity: 0 }
            100% { opacity: 0 }
        }
        @-ms-keyframes imageAnimation {
            0% { opacity: 0;
            -ms-animation-timing-function: ease-in; }
            {{ 32 / page.media|length }}% { opacity: 1;
                 -ms-animation-timing-function: ease-out; }
            {{ 64 / page.media|length }}% { opacity: 1 }
            {{ 96 / page.media|length }}% { opacity: 0 }
            100% { opacity: 0 }
        }
        @keyframes imageAnimation {
            0% { opacity: 0;
            animation-timing-function: ease-in; }
            {{ 32 / page.media|length }}% { opacity: 1;
                 animation-timing-function: ease-out; }
            {{ 64 / page.media|length }}% { opacity: 1 }
            {{ 96 / page.media|length }}% { opacity: 0 }
            100% { opacity: 0 }
        }

    </style>
    {% endif %}

    {% if theme_var('header.slick') == 1 %}
{% do assets.addCss('theme://build/css/slick.css') %}
{% do assets.addCss('theme://build/css/slick-theme.css') %}
{% do assets.addJs('theme://build/js/slick.min.js', { group: 'bottom' }) %}
{% endif %}


      {% if page.header.masonry == 1 %}
      {% do assets.addJs('theme://build/js/akazie-wood.masonry.min.js') %}


      {{ masonry.js()|raw }}
        <style>
        .grid-sizer,
        .grid-item {
          width: 33.3%;
        }
        article {
          width: 33.3%;
          padding: {{ theme_var('header.masonryp') }};
        }
        article.a-width2 { width:  66.6%; }
        article.a-width3 { width:  99.9%; }
        @media (max-width: 869px) {
          article {
            width: 100%;
            padding: 10px;
          }
          article.a-width2 { width:  100%; }
          article.a-width3 { width:  100%; }
        }
        </style>
      {% endif %}
      {% include 'partials/custom-css.html.twig' %}


    {% endblock head %}

  </head>
  <body class="{{ page.header.body_classes }}{% if theme_var('nav.expanded') == '1' %} navexpanded{% endif %} page-{{ page.slug }}">
  {% if theme_var('header.kundencode') == 'stkh' %}
  <div class="fullbgstkh"></div>
  {% endif %}
    {% if config.plugins.langswitcher.enabled %}
      {% include 'partials/langswitcher.html.twig' %}
    {% endif %}

    {% if theme_var('site.parallax') == 0 %}
      <div class="wrapper">
      {% else %}
        <div class="wrapper" style="background-image: url('{{ page.header.image  ? page.media[page.header.image].url : theme_url ~ '/images/home.jpg' }}')">
        {% endif %}
        {% block header %}
          {% include 'partials/header.html.twig' %}
        {% endblock %}

        {% if page.header.kundencode != 'immosit' and page.header.kundencode != 'immositweb'  %}

          {% if page.template == 'home' %}
            {% set image = page.header.image %}
            {% if theme_var('site.parallax') == 0 %}


              <div
                class="screen-image screen-fullscreen{% if removehead == true  or theme_var('header.hidetoptnt') %} removeheader{% endif %}{% if page.template == 'home' and page.header.slideshow %} bgslide{% endif %}"
                {% if page.header.slideshow %}

                {% elseif removehead != true %}
                 {%  if theme_var('header.hidetoptnt') != true %}
                style="background-image: url('{{ image ? page.media[image].url : theme_url ~ '/images/home.jpg' }}')"
                 {% endif %}
                {% endif %}>

                {% if page.template == 'home' and page.header.slideshow %}
                {% for img in page.media %}
                <div class="hiddensli">{{ img.url }}</div>
                {% endfor %}
                {% endif %}
              {% else %}
                <div class="screen-image screen-fullscreen">
                {% endif %}
                <div
                  class="image-caption color-new-line  {% if page.header.markdown.newlineoncolorchangemobile %}color-new-line-mobile{% endif %}{% if page.header.claimswitch == true %} claim{% endif %}{% if removehead == true  or theme_var('header.hidetoptnt') %} removeheader{% endif %}">
                  {% if page.header.markdown.title %}
                    {{ page.header.title | markdown }}
                  {% else %}
                    {% if page.header.claimswitch == false %}
                      <h1 style="word-wrap: break-word">{{ page.header.title }}</h1>
                    {% else %}
                      {% if page.header.claimasmarkdown == false %}

                        {% if theme_var('header.properh') == 0 %}
                        <h3 class="claim">{{ page.header.claim | nl2br }}</h3>
                        {% else %}
                        <div class="claim">{{ page.header.claim | nl2br }}</div>
                        {% endif %}

                      {% else %}
                        <div class="claim">{{ page.header.claim | markdown }}</div>
                      {% endif %}
                    {% endif %}

                  {% endif %}
                  <p>{{ page.header.text }}</p>
                </div>
              </div>

            {% else %}
              {% set image = page.header.image %}
              {% if theme_var('site.parallax') == 0 %}
            <div class="screen-image screen-top{% if removehead == true or theme_var('header.hidetoptnt')  %} removeheader{% endif %}"
             {% if removehead != true %}

                 {%  if theme_var('header.hidetoptnt') != true %}
                style="background-image: url('{{ image  ? page.media[image].url : theme_url ~ '/images/home.jpg' }}')" {% endif %}{% endif %}> {% else %}
                  <div class="screen-image screen-top">

              {% endif %}

                <div class="image-caption{% if page.header.claimswitch == true %} claim{% endif %}{% if removehead == true or theme_var('header.hidetoptnt') %} removeheader{% endif %}">

                  {% if theme_var('header.kundencode') != 'immosit' and theme_var('header.kundencode') != 'immositweb' %}

                  {% if page.header.claimswitch == false %}
                    <h1 style="word-wrap: break-word">{{ page.header.title }}</h1>
                  {% else %}
                    {% if page.header.claimasmarkdown == false %}
                      {% if theme_var('header.properh') == 0 %}
                      <h3 class="claim">{{ page.header.claim | nl2br }}</h3>
                      {% else %}
                      <div class="claim">{{ page.header.claim | nl2br }}</div>
                      {% endif %}


                    {% else %}
                      <div class="claim">{{ page.header.claim | markdown }}</div>
                    {% endif %}
                  {% endif %}

                  {% else %}




                  {% endif %}
                  </div>
                </div>
              {% endif %}

            {% endif %}

            {% block main %}
              <main class="site-content">
                {% if page.header.kundencode == 'immosit' %}
                  <div class="bookinghover">
                    <form action="/wohnungen">
                      <ul>
                        <li>
                          <input type="radio" id="radioApple" name="betten" value="2 Betten">
                          <label for="radioApple">
                            <div>
                              <strong class="bigger">2</strong>
                              Betten</div>
                          </label>
                          <input type="radio" id="radioBanana" name="betten" value="3 Betten">
                          <label for="radioBanana">
                            <div>
                              <strong class="bigger">3</strong>
                              Betten</div>
                          </label>
                          <input type="radio" id="radioOrange" name="betten" value="ab 4 Betten">
                          <label for="radioOrange">
                            <div>
                              <span style="font-size:16px;">ab</span>
                              <strong class="bigger">4</strong>
                              Betten</div>
                          </label>
                        </li>

                        <li>
                          <input type="checkbox" id="myCheckbox1" name="wlan" value="ja"/>
                          <label for="myCheckbox1">
                            <img src="{{ url( 'theme://custom/logo/wlan-white.svg') }}">
                            <div>WLAN</div>
                          </label>
                        </li>
                        <li>
                          <input type="checkbox" id="myCheckbox2" name="fahrstuhl" value="ja"/>
                          <label for="myCheckbox2">
                            <img src="{{ url( 'theme://custom/logo/sort-circle-solid-white.svg') }}">
                            <div>Fahrstuhl</div>
                          </label>
                        </li>
                        <li>
                          <input type="checkbox" id="myCheckbox3" name="balkon" value="ja"/>
                          <label for="myCheckbox3">
                            <img src="{{ url( 'theme://custom/logo/balkon-solid-white.svg') }}">
                            <div>Balkon</div>
                          </label>
                        </li>
                        <li>
                          <input type="submit" value="Suchen">
                        </li>
                      </ul>
                    </div>
                    <div class="screen-image screen-fullscreen">
                      <section class="page section-modular immositstart">
                        <div class="row">
                          <article class="modular section-text col-12 col-md-6">
                            <h2 class="heading">{{page.header.title | raw}}</h2>
                            <div class="markdown ">
                              {{page.header.text | markdown}}
                              <a class="bookinghovermobile linksbutton" href="{{ base_url_absolute  ~ '/wohnungen' }}">
                                Ferienwohnung buchen
                              </a>
                            </div>
                          </article>
                          <article class="modular section-image col-12 col-md-6">
                            <div class="media-container ">
                              {% set image = page.header.image %}
                              <img class="media startimg" title="{{ page.header.title }}" alt="Immosit" src="{{ page.media[image].cropZoom(500,500).url }}"/>

                            </div>
                          </article>
                        </div>
                      </section>
                    </div>

                  {% elseif page.header.kundencode == 'immositweb' %}
                  <div class="bookinghover">
                      <ul>
                        <li>
                          <a href="/wohnungen?verkauf=ja#catcont" class="kauf"><div class="bookspan">Kaufen</div></a>


                        <li>
                          <a href="/wohnungen?vermietung=ja#catcont" class="miet"><div class="bookspan">Mieten</div></a>


                        </li>
                        <li>
                          <a href="https://fewolenk.ch" target="_blank" class="fewo"><div class="bookspan">Ferienwohnung</div></a>

                        </li>



                      </ul>
                    </div>
                    <div class="screen-image screen-fullscreen">
                      <section class="page section-modular immositstart">
                        <div class="row">
                          <article class="modular section-text col-12 col-md-5">
                          <h2>{{page.header.title | raw}}</h2>
                          <div class="markdown headertext">
                            {{page.header.text | markdown}}
                            <a class="bookinghovermobile linksbutton" href="{{ base_url_absolute  ~ '/wohnungen' }}">
                              Immobilien ansehen
                            </a>
                          </div>
                            <div class="media-container startimgtwo">
                              {% set imagetwo = page.header.imagetwo %}
                              <img class="media startimg startimgtwo" title="{{ page.header.title }}" alt="Immosit" src="{{ page.media[imagetwo].cropZoom(750,600).url }}"/>

                            </div>
                          </article>
                          <article class="modular section-image col-12 col-md-7 startimgone">
                            <div class="media-container ">
                              {% set image = page.header.image %}
                              <img class="media startimg" title="{{ page.header.title }}" alt="Immosit" src="{{ page.media[image].cropZoom(1000,1000).url }}"/>

                            </div>
                          </article>
                        </div>
                      </section>
                    </div>
                  {% endif %}
                  {% block content %}{% endblock %}
                </main>
              {% endblock %}

              {% block footer %}
                {% include 'partials/footer.html.twig' %}
              {% endblock %}
            </div>
            {% if theme_var('site.slideimagesin') %}
            <script>
            function debounce(func, wait, immediate) {
              var timeout;
              return function () {
                var context = this,args = arguments;
                var later = function () {
                  timeout = null;
                  if (!immediate) func.apply(context, args);
                };
                var callNow = immediate && !timeout;
                clearTimeout(timeout);
                timeout = setTimeout(later, wait);
                if (callNow) func.apply(context, args);
              };
            };

            const sliderImages = document.querySelectorAll('.slide-in');

            function checkSlide(e) {

              // loop over every image
              // figure out where it needs to be shown
              // at least 50% of its height

              var scrollposy = window.scrollY;
              sliderImages.forEach(sliderImage => {
                //half way through images
                const slideInAt = window.scrollY + window.innerHeight - sliderImage.height / 2;

                var bodyRect = document.body.getBoundingClientRect(),
                    elemRect = sliderImage.getBoundingClientRect(),
                    offset   = elemRect.top - bodyRect.top;


                // bottom of the image
                const imageBottom = offset + sliderImage.offsetHeight;
                // half way in the images
                const isHalfShown = slideInAt > offset;

                const isNoScrolledPast = window.scrollY < imageBottom;

                if (isHalfShown && isNoScrolledPast) {
                  sliderImage.classList.add('active');
                } else {
                  sliderImage.classList.remove('active');
                }
              });


            }

            window.addEventListener('scroll', debounce(checkSlide));
            </script>
            {% endif %}




            {% if theme_var('map.apikey') and theme_var('map.type') == 'google' %}
              {%  include 'partials/map-google-js.html.twig' %}
            {% elseif theme_var('map.type') == 'osm' %}
              {%  include 'partials/map-osm-js.html.twig' %}
            {% endif %}
            {% block bottom %}
              {{ assets.js('bottom')|raw }}
              {{ theme_var('footer.javascript.code')|raw }}
              {% if page.header.masonry == 1 %}
              <script>
              var grid = document.querySelector('.masonryrow');
              imagesLoaded( document.querySelector('.masonryrow'), function( instance ) {
                var msnry = new Masonry( grid, {
                  itemSelector: 'article',
                  columnWidth: '.grid-sizer',
                  percentPosition: true
                });
              });
              </script>
            {% endif %}
            {% if theme_var('header.slick') == 1 %}
            <script>
            let sl = 3;
            if(window.innerWidth > 869) { sl = 3; } else { sl = 1; }
            jQuery('.testi-container').slick({
              dots: true,
              infinite: true,
              slidesToShow: sl,
              autoplay: true,
              autoplaySpeed: 6000,
            });
            jQuery('.testi-container-small').slick({
              dots: true,
              infinite: true,
              slidesToShow: 1,
              autoplay: true,
              autoplaySpeed: 6000,
            });
            </script>
            {% endif %}

            {% endblock %}
          </body>
        </html>
