

    {% set header_image = page.header.header_image|defined(true) %}
    {% set header_image_width  = page.header.header_image_width|defined(300) %}
    {% set header_image_height = page.header.header_image_height|defined(300) %}
    {% set header_image_file = page.header.header_image_file %}

  <div class="list-item h-entry oz-filteritem" {% if theme_var('header.kundencode') == 'immosit' %}data-clickme="{{ page.url }}"{% endif %}>
      {% if header_image %}
          {% if header_image_file %}
              {% set header_image_media = page.media.images[header_image_file] %}
          {% else %}
              {% set header_image_media = page.media.images|first %}
          {% endif %}
          {{ header_image_media.cropZoom(header_image_width, header_image_height).html|raw }}
      {% endif %}
      <div class="list-blog-header">
      {% if theme_var('header.kundencode') == 'immosit' %}
        <a href="{{ page.url }}" class="filterbutton u-url">{{ page.title }}</a>
        <div class="oz-filtericons">
              {% for tag in page.taxonomy.nichtraucher %}
              {% if tag == 'ja' %}
              <img class="svgitem norm" src="{{ url('theme://custom/logo/smoking-ban-solid.svg') }}" />
              {% endif %}
              {% endfor %}
              {% for tag in page.taxonomy.wlan %}
              {% if tag == 'ja' %}
              <img class="svgitem norm" src="{{ url('theme://custom/logo/wlan.svg') }}" />
              {% endif %}
              {% endfor %}
              {% for tag in page.taxonomy.zentrumsnah %}
              {% if tag == 'ja' %}
              <img class="svgitem norm" src="{{ url('theme://custom/logo/ortsmarker.svg') }}" />
              {% endif %}
              {% endfor %}
              {% for tag in page.taxonomy.parking %}
              {% if tag == 'ja' %}
              <img class="svgitem norm" src="{{ url('theme://custom/logo/parking-solid.svg') }}" />
              {% endif %}
              {% endfor %}
              {% for tag in page.taxonomy.fahrstuhl %}
              {% if tag == 'ja' %}
              <img class="svgitem norm" src="{{ url('theme://custom/logo/sort-circle-solid.svg') }}" />
              {% endif %}
              {% endfor %}



                                    {% for tag in page.taxonomy.tv %}
                                    {% if tag == 'ja' %}
                                    <img class="svgitem norm" src="{{ url('theme://custom/logo/TV.svg') }}" />
                                    {% endif %}
                                    {% endfor %}
                                    {% for tag in page.taxonomy.geschirrspueler %}
                                    {% if tag == 'ja' %}

                                    <img class="svgitem norm" src="{{ url('theme://custom/logo/Fork.svg') }}" />
                                    {% endif %}
                                    {% endfor %}


                                    {% for tag in page.taxonomy.nespresso %}
                                    {% if tag == 'ja' %}

                                    <img class="svgitem norm" src="{{ url('theme://custom/logo/mug-hot-solid.svg') }}" />
                                    {% endif %}
                                    {% endfor %}


                                    {% for tag in page.taxonomy.dolcegusto %}
                                    {% if tag == 'ja' %}

                                    <img class="svgitem norm" src="{{ url('theme://custom/logo/mug-hot-solid.svg') }}" />
                                    {% endif %}
                                    {% endfor %}


                                    {% for tag in page.taxonomy.tassimo %}
                                    {% if tag == 'ja' %}

                                    <img class="svgitem norm" src="{{ url('theme://custom/logo/mug-hot-solid.svg') }}" />
                                    {% endif %}
                                    {% endfor %}


                                    {% for tag in page.taxonomy.filtermaschine %}
                                    {% if tag == 'ja' %}

                                    <img class="svgitem norm" src="{{ url('theme://custom/logo/mug-hot-solid.svg') }}" />
                                    {% endif %}
                                    {% endfor %}


                                    {% for tag in page.taxonomy.kaffeevollautomat %}
                                    {% if tag == 'ja' %}

                                    <img class="svgitem norm" src="{{ url('theme://custom/logo/mug-hot-solid.svg') }}" />
                                    {% endif %}
                                    {% endfor %}


                                    {% for tag in page.taxonomy.bialetti %}
                                    {% if tag == 'ja' %}

                                    <img class="svgitem norm" src="{{ url('theme://custom/logo/mug-hot-solid.svg') }}" />
                                    {% endif %}
                                    {% endfor %}




                                    {% for tag in page.taxonomy.mikrowelle %}
                                    {% if tag == 'ja' %}

                                    <img class="svgitem norm" src="{{ url('theme://custom/logo/microwave.svg') }}" />
                                    {% endif %}
                                    {% endfor %}
                                    {% for tag in page.taxonomy.foehn %}
                                    {% if tag == 'ja' %}

                                    <img class="svgitem norm" src="{{ url('theme://custom/logo/Foehn.svg') }}" />
                                    {% endif %}
                                    {% endfor %}

                                    {% for tag in page.taxonomy.raclette %}
                                    {% if tag == 'ja' %}

                                    <img class="svgitem norm" src="{{ url('theme://custom/logo/Cheese.svg') }}" />
                                    {% endif %}
                                    {% endfor %}

                                    {% for tag in page.taxonomy.fondue %}
                                    {% if tag == 'ja' %}

                                    <img class="svgitem norm" src="{{ url('theme://custom/logo/Cheese.svg') }}" />
                                    {% endif %}
                                    {% endfor %}



                                    {% for tag in page.taxonomy.waschmaschine %}
                                    {% if tag == 'ja' %}

                                    <img class="svgitem norm" src="{{ url('theme://custom/logo/washer-solid.svg') }}" />
                                    {% endif %}
                                    {% endfor %}

                                    {% for tag in page.taxonomy.waschmaschineaufanfrage %}
                                    {% if tag == 'ja' %}

                                    <img class="svgitem norm" src="{{ url('theme://custom/logo/washer-solid.svg') }}" />
                                    {% endif %}
                                    {% endfor %}



                                    {% for tag in page.taxonomy.balkon %}
                                    {% if tag == 'ja' %}

                                    <img class="svgitem norm" src="{{ url('theme://custom/logo/balkon.svg') }}" />
                                    {% endif %}
                                    {% endfor %}
                                    {% for tag in page.taxonomy.gartensitzplatz %}
                                    {% if tag == 'ja' %}

                                    <img class="svgitem norm" src="{{ url('theme://custom/logo/Chair.svg') }}" />
                                    {% endif %}
                                    {% endfor %}
                                    {% for tag in page.taxonomy.haustiere %}
                                    {% if tag == 'ja' %}

                                    <img class="svgitem norm" src="{{ url('theme://custom/logo/paw-solid.svg') }}" />
                                    {% endif %}
                                    {% endfor %}
                                    {% for tag in page.taxonomy.keinehaustiere %}
                                    {% if tag == 'ja' %}

                                    <img class="svgitem norm" src="{{ url('theme://custom/logo/No_pets.svg') }}" />
                                    {% endif %}
                                    {% endfor %}
                                    {% for tag in page.taxonomy.skiraum %}
                                    {% if tag == 'ja' %}

                                    <img class="svgitem norm" src="{{ url('theme://custom/logo/Ski.svg') }}" />
                                    {% endif %}
                                    {% endfor %}



                                                          {% for tag in page.taxonomy.internettv %}
                                                          {% if tag == 'ja' %}
                                                          <img class="svgitem norm" src="{{ url('theme://custom/logo/Internet_TV.svg') }}" />
                                                          {% endif %}
                                                          {% endfor %}

                                                          {% for tag in page.taxonomy.garage %}
                                                          {% if tag == 'ja' %}
                                                          <img class="svgitem norm" src="{{ url('theme://custom/logo/Garage.svg') }}" />
                                                          {% endif %}
                                                          {% endfor %}

                                                          {% for tag in page.taxonomy.einstellhallenplatz %}
                                                          {% if tag == 'ja' %}
                                                          <img class="svgitem norm" src="{{ url('theme://custom/logo/Einstellhallenplatz.svg') }}" />
                                                          {% endif %}
                                                          {% endfor %}


                                                          {% for tag in page.taxonomy.wasserkocher %}
                                                          {% if tag == 'ja' %}
                                                          <img class="svgitem norm" src="{{ url('theme://custom/logo/Wasserkocher.svg') }}" />
                                                          {% endif %}
                                                          {% endfor %}



        </div>
      {% else %}


          {#
          <span class="list-blog-date">
              <time class="dt-published" datetime="{{ page.date|date("c") }}">
                  <span>{{ page.date|date("d") }}</span>
                  <em>{{ page.date|date("M") }}</em>
              </time>
          </span>
          #}
          {% if page.header.link %}
              <h4 class="p-name">
                  {% if page.header.continue_link is not same as(false) %}
                  <a href="{{ page.url }}"><i class="fa fa-angle-double-right u-url"></i></a>
                  {% endif %}
                  <a href="{{ page.header.link }}" class="u-url">{{ page.title }}</a>
              </h4>
          {% else %}
              <h4 class="p-name"><a href="{{ page.url }}" class="u-url">{{ page.title }}</a></h4>
          {% endif %}

          {% if page.taxonomy.tag %}
          <span class="tags">
              {% for tag in page.taxonomy.tag %}
              <a href="{{ blog.url|rtrim('/') }}/tag{{ config.system.param_sep }}{{ tag }}" class="p-category">{{ tag }}</a>
              {% endfor %}
          </span>
          {% endif %}
          {% if page.taxonomy.author %}
          <span class="tags">
              {% for author in page.taxonomy.author %}
              <a href="{{ blog.url|rtrim('/') }}/tag{{ config.system.param_sep }}{{ author }}" class="p-category">{{ author }}</a>
              {% endfor %}
          </span>
          {% endif %}
      {% endif %}
      </div>
      {% if theme_var('header.kundencode') != 'immosit' %}

      <div class="list-blog-padding">

      {% if page.header.continue_link is same as(false) %}
          <div class="e-content">
              {{ page.content|raw }}
          </div>
          {% if not truncate %}
          {% set show_prev_next = true %}
          {% endif %}
      {% elseif truncate and page.summary != page.content %}
          <div class="p-summary e-content">
              {{ page.summary|raw }}
              <p><a href="{{ page.url }}">{{ 'THEME_AKAZIEWOOD.THEME.BLOG.CONTINUE_READING'|t }}</a></p>
          </div>
      {% elseif truncate %}
          <div class="p-summary e-content">
              {{ page.content|raw }}
              <p><a href="{{ page.url }}">{{ 'THEME_AKAZIEWOOD.THEME.BLOG.CONTINUE_READING'|t }}</a></p>
          </div>
      {% else %}
          <div class="e-content">
              {{ page.content|raw }}
          </div>

          {% if config.plugins.comments.enabled %}
              {% include 'partials/comments.html.twig' %}
          {% endif %}

          {% set show_prev_next = true %}
      {% endif %}

      {% if show_prev_next %}

          <p class="prev-next">
              {% if not page.isFirst %}
                  <a class="button" href="{{ page.nextSibling.url }}"><i class="fa fa-chevron-left"></i> {{ 'BLOG.ITEM.NEXT_POST'|t }}</a>
              {% endif %}

              {% if not page.isLast %}
                  <a class="button" href="{{ page.prevSibling.url }}">{{ 'BLOG.ITEM.PREV_POST'|t }} <i class="fa fa-chevron-right"></i></a>
              {% endif %}
          </p>
      {% endif %}

      </div>
      {% endif %}

  </div>
