<footer class="site-footer">
  <div class="footer-top"></div>
  <div class="footer-main">
    <div class="footer-navigation">
      <ul>
        {% for p in pages.children.visible %}
          {% set active_page = (p.active or p.activeChild) ? 'active' : '' %}
          {% if (p.home() and theme_config.footer.home) or p.home() == false %}
            <li>
              <a href="{{ p.url }}" class="{{ active_page }}" link>
                {{ p.menu }}
              </a>
            </li>
          {% endif %}

        {% endfor %}
      </ul>

    </div>
    <div class="footer-adress">
      {{ theme_config.footer.address | nl2br }}
    </div>
    <div class="footer-email">
      <a href="mailto:{{ theme_config.footer.mail|safe_email }}">
        {{ theme_config.footer.mail }}
      </a>
    </div>
  </div>
</footer>
