{% set footerpage = pages.find(theme_var('footer.fullscreen.link')) %}


<footer class="site-footer {% if theme_var('footer.fullscreen.enabled') and footerpage.header.nofullscreen != 1 %}fullscreen{% endif %}" {% if theme_var('footer.fullscreen.enabled') and footerpage.header.footerbg %}style="background-image:url('{{ url('theme://custom/logo/' ~ (footerpage.header.footerbg | first).name) }}');"{% endif %}>
{% if theme_var('footer.fullscreen.enabled') == 0 %}<div class="footer-top"></div>{% endif %}
  <div class="footer-main {% if theme_var('footer.fullscreen.enabled') and footerpage.header.nofullscreen != 1 %}fullscreen{% endif %}">



  {% if theme_var('footer.fullscreen.enabled') %}


    {% if footerpage.template == 'footerpage' %}


  <div class="container footerpage{% if footerpage.header.nofullscreen == 1 %} alignbottom{% endif %}" {% if footerpage.header.nofullscreen == 1 %}data-footerheightd="{{ footerpage.header.bgheight }}" {% if footerpage.header.bgheightmobile is defined %}data-footerheightm="{{ footerpage.header.bgheightmobile }}"{% endif %}{% endif %}>
      <div class="row">
    <article class="col-12 {% if footerpage.header.rightsidediv == 1 %}{% if footerpage.header.row2show != 1 %}col-md-4{% else %}col-md-6{% endif %}{% else %}{% if footerpage.header.row2show != 1 %}col-md-6{% else %}col-md-8{% endif %}{% endif %}">
        <div class="container leftfootercontent">
          <div>{{ footerpage.header.leftsize1 | markdown }}</div>
        </div>
        </article>
        <article class="col-12 {% if footerpage.header.rightsidediv == 1 %}{% if footerpage.header.row2show != 1 %}col-md-8{% else %}col-md-6{% endif %}{% else %}{% if footerpage.header.row2show != 1 %}col-md-6{% else %}col-md-4{% endif %}{% endif %}">
          <div class="container">
            <div class="row">
              <div class="col-12 {% if footerpage.header.row2show != 1 %}col-md-4{% else %}col-md-6{% endif %} rightfootercontent">
                <h4>{{ footerpage.header.row1titel }}</h4>
                <div>
                  {% if footerpage.header.row1text is empty %}
                    <ul>
                      {% for links in footerpage.header.row1content %}
                      <li><a href="{{ links.link }}" target="_blank">{{ links.text }}</a></li>
                      {% endfor %}
                    </ul>
                  {% else %}

                      {{ footerpage.header.row1text | markdown }}
                  {% endif %}
                </div>
              </div>
              {% if footerpage.header.row2show != 1 %}
              <div class="col-12 col-md-4 rightfootercontent">
                <h4>{{ footerpage.header.row2titel }}</h4>
                <div>



                {% if footerpage.header.row2content is empty %}
                <ul>
                  {% for page in pages.children.visible %}
                      <li>
                          <a href="{{ page.url }}">
                              {{ page.menu }}
                          </a>
                      </li>
                  {% endfor %}
                </ul>
                {% else %}
                  {{ footerpage.header.row2content | markdown }}
                {% endif %}




                </div>
              </div>
             {% endif %}
              <div class="col-12 {% if footerpage.header.row2show != 1 %}col-md-4{% else %}col-md-6{% endif %} rightfootercontent">
                <h4>{{ footerpage.header.row3titel }}</h4>
                <div>{{ footerpage.header.row3content | markdown }}</div>
              </div>
            </div>
          </div>
        </article>

      </div>
      {% if footerpage.header.upsignon == 0 %}

      <div class="upfootertext">
        <a href="#" id="scrolltopbutton"><img src="{{ url('theme://images/up.svg') }}" /><br />
        {{ footerpage.header.upsign }}</a>
      </div>
      {% endif %}
    </div>








    {% else %}
          {% set content = footerpage.content %}
           {% if content %}
             {{ content|markdown }}
           {% endif %}
    {% endif %}

  {% else %}
    <div class="footer-navigation">
      <ul>
        {% for p in pages.children.visible | slice(0, (theme_var('header.nav.length'))) %}
          {% set active_page = (p.active or p.activeChild) ? 'active' : '' %}
          {% if (p.home() and theme_var('footer.home') and p.header.markdown.title == false) or p.home() == false %}
            <li>
              <a href="{{ p.url }}" class="{{ active_page }}" link>
                {{ p.menu }}
              </a>
            </li>
          {% endif %}

        {% endfor %}
      </ul>

    </div>
    <div class="footer-adress">
      {{ theme_var('footer.address') | nl2br }}
    </div>
    <div class="footer-email">
      <a href="mailto:{{ theme_var('footer.mail')|safe_email }}">
        {{ theme_var('footer.mail') }}
      </a>
      {% if theme_var('footer.impressum.enabled') %}
        &nbsp;|&nbsp;
        <a href="{{ base_url }}{{ theme_var('footer.impressum.link') }}">
          Impressum
        </a>
      {% endif %}
      {% if theme_var('footer.datenschutz.enabled') %}
        &nbsp;|&nbsp;
        <a href="{{ base_url }}{{ theme_var('footer.datenschutz.link') }}">
          Datenschutzerklärung
        </a>
      {% endif %}
    </div>
  {% endif %}
  {% if footerpage.header.lowerfooteron == 1 %}
  <div class="lowerfooter">
    <div class="container">
      <div class="left">{{ footerpage.header.lowerfooterleft | markdown }}</div>
      <div class="right">{{ footerpage.header.lowerfooterright | markdown }}</div>
    </div>
  </div>
  {% endif %}
  </div>


</footer>
