{% macro nav_loop(page, theme_config, reverse = true) %}
  {% set arr = page.children.visible | slice(0, (theme_var('header.nav.length'))) %}
  {% if reverse %}
    {% set arr = arr | reverse %}
  {% endif %}
  {% for p in arr  %}
    {% set active_page = (p.active or p.activeChild) ? 'active' : '' %}
    {% if p.children.visible.count > 0 and theme_config.header.subnav %}
      <li>
    <a href="{{ p.url }}" class="{{ active_page }} onlymobile">{% if theme_var('nav.expanded') == '1' %}<span class="plussign">+</span><span class="minussign" style="display:none;">-</span>&nbsp;&nbsp;{% endif %}</a>
        <a href="{{ p.url }}" class="{{ active_page }}" link>
        {{ p.menu }}
        </a>
        <ul class="nav-lvl2">
          {{ _self.nav_loop(p, theme_config, false) }}
        </ul>
      </li>
    {% else %}
      {% if (p.home() and theme_config.header.home and p.header.markdown.title == false) or p.home() == false %}
        <li>
          <a href="{{ p.url }}" class="{{ active_page }}" link>
            {{ p.menu }}
          </a>
        </li>
      {% endif %}
    {% endif %}
  {% endfor %}
{% endmacro %}

<nav class="header-nav desktop">
  <ul class="nav-lvl1" {{ tree ? 'class="tree"' : '' }}>
    <li class="specialbutton"><a href="">{{ theme_var('nav.button.text') }}{{ theme_var('nav.button.enabled') }}{{ theme_var('nav.button.link') }}</li>
    {{ _self.nav_loop(pages, theme_config) }}
  </ul>

</nav>
<nav class="header-nav mobile">
  <ul class="nav-lvl1" {{ tree ? 'class="tree"' : '' }}>
    {{ _self.nav_loop(pages, theme_config, false) }}
      <li class="specialbutton"><a href="" class="onlymobile">{{ theme_var('nav.button.text') }}</a></li>
  </ul>

</nav>
