{% extends 'partials/base.html.twig' %}

{% block content %}
  <section class="page section-default">

  <div class="row">
    <article class="modular section-text col-12 col-md-6 cattext">
      {# <a class="postbacklink" href="{{ base_url_absolute  ~ '/wohnungen' }}"> #}
      <a class="postbacklink" href="#" onclick="goBack()">
      <script>
      function goBack() {
        window.history.back();
      }
      </script>
      <img src="{{ url('theme://custom/logo/arrow-to-top-solid.svg')}}"/></a>

      <div class="beforeline"><div>&nbsp;</div></div>
      <h2 class="heading detail">{{ page.header.title }}</h2>
      <div class="afterline"><div>&nbsp;</div></div>
      <div class="oz-filtericons detailicons">
            {% for tag in page.taxonomy.nichtraucher %}
            {% if tag == 'ja' %}
            <img src="{{ url('theme://custom/logo/smoking-ban-solid.svg')}}"/>
            {% endif %}
            {% endfor %}
            {% for tag in page.taxonomy.wlan %}
            {% if tag == 'ja' %}
            <img src="{{ url('theme://custom/logo/wifi-solid.svg')}}"/>
            {% endif %}
            {% endfor %}
            {% for tag in page.taxonomy.haustiere %}
            {% if tag == 'ja' %}
            <img src="{{ url('theme://custom/logo/paw-solid.svg')}}"/>
            {% endif %}
            {% endfor %}
            {% for tag in page.taxonomy.waschmaschine %}
            {% if tag == 'ja' %}
            <img src="{{ url('theme://custom/logo/washer-solid.svg')}}"/>
            {% endif %}
            {% endfor %}
            {% for tag in page.taxonomy.zentrumsnah %}
            {% if tag == 'ja' %}
            <img src="{{ url('theme://custom/logo/map-marker-smile-solid.svg')}}"/>
            {% endif %}
            {% endfor %}
            {% for tag in page.taxonomy.parking %}
            {% if tag == 'ja' %}
            <img src="{{ url('theme://custom/logo/parking-solid.svg')}}"/>
            {% endif %}
            {% endfor %}
      </div>
      <div class="markdown ">
        {{ page.content | markdown }}
      </div>

    </article>
    <article class="modular section-image col-12 col-md-6">
      <div class="media-container ">
                                  <img class="media startimg" title="Ferien buchen und geniessen!" alt="Immosit" src="/immosit/images/5/c/e/2/d/5ce2df06a83a697671ed4f41cab0912ef0fd3591-home.jpg">

      </div>
    </article>
  </div>
  <div class="row">
  <article class="modular section-gallery col-12 col-md-12 detailgallery">
  <div class="gallery">
  {% for img in page.header.media_order | split(',')%}
    <article style="background-image: url('{{ page.media[img].cropZoom(400,400).url }}');" data-src="{{ page.media[img].cropResize(1920,1080).url }}" data-scale="1"></article>
  {% endfor %}
  </div>
  </article>
  </div>


  <div class="row">
  <article class="modular section-map col-12 col-md-6 detailmap">
    <div class="media-container">

      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2748.613104159287!2d7.443382651607505!3d46.456362579022716!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478efc91bf6349bd%3A0x61f94727a5d5d24f!2sAkazie%20IT%20GmbH!5e0!3m2!1sen!2sch!4v1615207282848!5m2!1sen!2sch" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

    </div>
  </article>
  <article class="modular section-text col-12 col-md-6 maptext">
    <h2 class="heading detail">{{ page.header.title }}</h2>
  </article>
  </div>


  </section>
{% endblock %}
