{% extends 'partials/base.html.twig' %}

{% block content %}
  <section class="page section-default">

  <div class="row">
    <article class="modular section-text col-12 col-md-6">
      <a href="{{ base_url_absolute  ~ 'wohnungen' }}">
      <img src="{{ url('theme://custom/logo/arrow-to-top-solid.svg')}}"/></a>
      <h2 class="heading">{{ page.header.title }}</h2>
      <div class="markdown ">
        {{ page.content | markdown }}
      </div>
      <div class="oz-filtericons">
            {% for tag in page.taxonomy.nichtraucher %}
            {% if tag == 'ja' %}
            <img src="{{ url('theme://custom/logo/smoking-ban-solid.svg')}}"/>
            {% endif %}
            {% endfor %}
            {% for tag in page.taxonomy.wlan %}
            {% if tag == 'ja' %}
            <img src="{{ url('theme://custom/logo/wifi-solid.svg')}}"/>
            {% endif %}
            {% endfor %}
            {% for tag in page.taxonomy.haustiere %}
            {% if tag == 'ja' %}
            <img src="{{ url('theme://custom/logo/paw-solid.svg')}}"/>
            {% endif %}
            {% endfor %}
            {% for tag in page.taxonomy.waschmaschine %}
            {% if tag == 'ja' %}
            <img src="{{ url('theme://custom/logo/washer-solid.svg')}}"/>
            {% endif %}
            {% endfor %}
            {% for tag in page.taxonomy.zentrumsnah %}
            {% if tag == 'ja' %}
            <img src="{{ url('theme://custom/logo/map-marker-smile-solid.svg')}}"/>
            {% endif %}
            {% endfor %}
            {% for tag in page.taxonomy.parking %}
            {% if tag == 'ja' %}
            <img src="{{ url('theme://custom/logo/parking-solid.svg')}}"/>
            {% endif %}
            {% endfor %}
      </div>
    </article>
    <article class="modular section-image col-12 col-md-6">
      <div class="media-container ">
                                  <img class="media startimg" title="Ferien buchen und geniessen!" alt="Immosit" src="/immosit/images/5/c/e/2/d/5ce2df06a83a697671ed4f41cab0912ef0fd3591-home.jpg">

      </div>
    </article>
  </div>

  </section>
{% endblock %}
