{% extends 'partials/base.html.twig' %}

{% block content %}
  <section class="page section-default">

  <div class="row">
    <article class="modular section-text col-12 col-md-6 cattext">
      {# <a class="postbacklink" href="{{ base_url_absolute  ~ '/wohnungen' }}"> #}
      <a class="postbacklink" href="#" onclick="goBack()">
      <script>
      function goBack() {
        window.history.back();
      }
      </script>
      <img src="{{ url('theme://custom/logo/arrow-to-top-solid.svg')}}"/></a>

      <div class="beforeline"><div>&nbsp;</div></div>
      <h2 class="heading detail">{{ page.header.title }}</h2>
      <div class="afterline"><div>&nbsp;</div></div>
      <div class="oz-filtericons detailicons">
            {% for tag in page.taxonomy.nichtraucher %}
            {% if tag == 'ja' %}
            <img src="{{ url('theme://custom/logo/smoking-ban-solid.svg')}}"/>
            {% endif %}
            {% endfor %}
            {% for tag in page.taxonomy.wlan %}
            {% if tag == 'ja' %}
            <img src="{{ url('theme://custom/logo/wifi-solid.svg')}}"/>
            {% endif %}
            {% endfor %}
            {% for tag in page.taxonomy.haustiere %}
            {% if tag == 'ja' %}
            <img src="{{ url('theme://custom/logo/paw-solid.svg')}}"/>
            {% endif %}
            {% endfor %}
            {% for tag in page.taxonomy.waschmaschine %}
            {% if tag == 'ja' %}
            <img src="{{ url('theme://custom/logo/washer-solid.svg')}}"/>
            {% endif %}
            {% endfor %}
            {% for tag in page.taxonomy.zentrumsnah %}
            {% if tag == 'ja' %}
            <img src="{{ url('theme://custom/logo/map-marker-smile-solid.svg')}}"/>
            {% endif %}
            {% endfor %}
            {% for tag in page.taxonomy.parking %}
            {% if tag == 'ja' %}
            <img src="{{ url('theme://custom/logo/parking-solid.svg')}}"/>
            {% endif %}
            {% endfor %}
      </div>
      {% if page.header.calendarembed is defined %}
      <div class="brownbutton"><a class="" href="#cal">Jetzt Buchen</a></div>
      {% endif %}
      <div class="markdown ">
        {{ page.content | markdown }}
      </div>

    </article>
    <article class="modular section-image col-12 col-md-6">
      <div class="media-container ">
                                  <img class="media startimg" title="Ferien buchen und geniessen!" alt="Immosit" src="/immosit/images/5/c/e/2/d/5ce2df06a83a697671ed4f41cab0912ef0fd3591-home.jpg">

      </div>
    </article>
  </div>
  <div class="row">
  <article class="modular section-gallery col-12 col-md-12 detailgallery">
  <div class="gallery">
  {% for img in page.header.media_order | split(',')%}
    <article style="background-image: url('{{ page.media[img].cropZoom(400,400).url }}');" data-src="{{ page.media[img].cropResize(1920,1080).url }}" data-scale="1"></article>
  {% endfor %}
  </div>
  </article>
  </div>

  {% if page.header.googlemaps is defined %}
  <div class="row">
  <article class="modular section-map col-12 col-md-6 detailmap">
    <div class="media-container">

      <iframe src="{{ page.header.googlemaps | raw}}" width="100%" height="450px" style="border:0;" allowfullscreen="" class="mapiframe" loading="lazy"></iframe>

    </div>
  </article>
  <article class="modular section-text col-12 col-md-6 maptext">
    <div class="beforelinemap"><div>&nbsp;</div></div>
    <div class="markdown secondarytext">
      {{ page.header.secondarytext | markdown }}
    </div>
  </article>
  </div>
  {% endif %}



    {% if page.header.calendarembed is defined %}
    <div class="row">
      <article class="modular section-text col-12 col-md-3 maptext">
        <h2 class="belegungsplan">Belegungsplan & Anfrage</h2>
      </article>


      <article class="modular section-map col-12 col-md-9 calendarembed" id="cal">
        <iframe src="{{ page.header.calendarembed | raw}}" width="100%" style="border:0;" allowfullscreen="" class="califrame" scrolling="no" loading="lazy"></iframe>

      </article>
      </div>
    {% endif %}




  <div class="row">
  <article class="modular section-map col-12 col-md-6 features">
    <div class="markdown secondarytext">
    <h2 class="angebottitle">Ausstattung</h2>
    <div class="oz-filtericons descicons">
          {% for tag in page.taxonomy.nichtraucher %}
          {% if tag == 'ja' %}
          <div><div class="imgcontainer"><img src="{{ url('theme://custom/logo/smoking-ban-solid.svg')}}"/></div><div class="txtcontainer">Nichtraucher</div></div>
          {% endif %}
          {% endfor %}
          {% for tag in page.taxonomy.wlan %}
          {% if tag == 'ja' %}
          <div><div class="imgcontainer"><img src="{{ url('theme://custom/logo/wifi-solid.svg')}}"/></div><div class="txtcontainer">Wifi</div></div>
          {% endif %}
          {% endfor %}
          {% for tag in page.taxonomy.haustiere %}
          {% if tag == 'ja' %}
          <div><div class="imgcontainer"><img src="{{ url('theme://custom/logo/paw-solid.svg')}}"/></div><div class="txtcontainer">Haustiere</div></div>
          {% endif %}
          {% endfor %}
          {% for tag in page.taxonomy.waschmaschine %}
          {% if tag == 'ja' %}
          <div><div class="imgcontainer"><img src="{{ url('theme://custom/logo/washer-solid.svg')}}"/></div><div class="txtcontainer">waschmaschine</div></div>
          {% endif %}
          {% endfor %}
          {% for tag in page.taxonomy.zentrumsnah %}
          {% if tag == 'ja' %}
          <div><div class="imgcontainer"><img src="{{ url('theme://custom/logo/map-marker-smile-solid.svg')}}"/></div><div class="txtcontainer">Zentrumsnah</div></div>
          {% endif %}
          {% endfor %}
          {% for tag in page.taxonomy.parking %}
          {% if tag == 'ja' %}
          <div><div class="imgcontainer"><img src="{{ url('theme://custom/logo/parking-solid.svg')}}"/></div><div class="txtcontainer">Parkmöglichkeit</div></div>
          {% endif %}
          {% endfor %}
    </div>
    </div>


  </article>


  {% if page.header.prices is defined %}

  <article class="modular section-map col-12 col-md-6 prices">
    <div class="markdown secondarytext">
    <h2 class="pricetitle">Preise</h2>
    {% for price in page.header.prices %}
    <div class="priceelement"><div class="pricedesc">{{ price.desc }}</div><div class="pricechf">{{ price.chf }}</div></div>
    {% endfor %}
    </div>


  </article>
  </div>
  {% endif %}

  {% if page.header.backtext is defined %}

    <div class="sidebar column is-narrow catfiltercontainer white">
	 	 	<div class="catfilterwrap">
        <p>
        {{ page.header.backtext }}
        </p>
      </div>
      <div class="whitebuttoncontainer"><a class="whitebutton" href="#" onclick="goBack()">Zurück</a>
      {% if page.header.calendarembed is defined %}
      <a class="whitebutton" href="#cal">Buchen</a>
      {% endif %}
      </div>
    </div>


  {% endif %}

  </section>
{% endblock %}
