{% extends 'partials/base.html.twig' %}

{% block content %}
  <section class="page section-default">

  <div class="row">
    <article class="modular section-text col-12 col-md-6 cattext">
      {# <a class="postbacklink" href="{{ base_url_absolute  ~ '/wohnungen' }}"> #}
      <a class="postbacklink" href="#" onclick="goBack()">
      <script>
      function goBack() {
        history.go(-1); event.preventDefault();
      }
      </script>
      <img src="{{ url('theme://custom/logo/arrow-to-top-solid.svg')}}"/></a>

      <div class="beforeline"><div>&nbsp;</div></div>
      <div class="posthead"><h2 class="heading detail">{{ page.header.title }}</h2></div>
      <div class="afterline"><div>&nbsp;</div></div>
      <div class="oz-filtericons detailicons">
            {% for tag in page.taxonomy.nichtraucher %}
            {% if tag == 'ja' %}
            <img class="svgitem bigger" src="{{ url('theme://custom/logo/smoking-ban-solid.svg') }}" />
            {% endif %}
            {% endfor %}
            {% for tag in page.taxonomy.wlan %}
            {% if tag == 'ja' %}
            <img class="svgitem bigger" src="{{ url('theme://custom/logo/wlan.svg') }}" />
            {% endif %}
            {% endfor %}
            {% for tag in page.taxonomy.zentrumsnah %}
            {% if tag == 'ja' %}
            <img class="svgitem bigger" src="{{ url('theme://custom/logo/ortsmarker.svg') }}" />
            {% endif %}
            {% endfor %}
            {% for tag in page.taxonomy.parking %}
            {% if tag == 'ja' %}
            <img class="svgitem bigger" src="{{ url('theme://custom/logo/parking-solid.svg') }}" />
            {% endif %}
            {% endfor %}
            {% for tag in page.taxonomy.fahrstuhl %}
            {% if tag == 'ja' %}
            <img class="svgitem bigger" src="{{ url('theme://custom/logo/sort-circle-solid.svg') }}" />
            {% endif %}
            {% endfor %}


                      {% for tag in page.taxonomy.tv %}
                      {% if tag == 'ja' %}
                      <img class="svgitem bigger" src="{{ url('theme://custom/logo/TV.svg') }}" />
                      {% endif %}
                      {% endfor %}
                      {% for tag in page.taxonomy.geschirrspueler %}
                      {% if tag == 'ja' %}

                      <img class="svgitem bigger" src="{{ url('theme://custom/logo/Fork.svg') }}" />
                      {% endif %}
                      {% endfor %}


                      {% for tag in page.taxonomy.nespresso %}
                      {% if tag == 'ja' %}

                      <img class="svgitem bigger" src="{{ url('theme://custom/logo/mug-hot-solid.svg') }}" />
                      {% endif %}
                      {% endfor %}
                      {% for tag in page.taxonomy.dolcegusto %}
                      {% if tag == 'ja' %}

                      <img class="svgitem bigger" src="{{ url('theme://custom/logo/mug-hot-solid.svg') }}" />
                      {% endif %}
                      {% endfor %}
                      {% for tag in page.taxonomy.tassimo %}
                      {% if tag == 'ja' %}

                      <img class="svgitem bigger" src="{{ url('theme://custom/logo/mug-hot-solid.svg') }}" />
                      {% endif %}
                      {% endfor %}
                      {% for tag in page.taxonomy.filtermaschine %}
                      {% if tag == 'ja' %}

                      <img class="svgitem bigger" src="{{ url('theme://custom/logo/mug-hot-solid.svg') }}" />
                      {% endif %}
                      {% endfor %}
                      {% for tag in page.taxonomy.kaffeevollautomat %}
                      {% if tag == 'ja' %}

                      <img class="svgitem bigger" src="{{ url('theme://custom/logo/mug-hot-solid.svg') }}" />
                      {% endif %}
                      {% endfor %}
                      {% for tag in page.taxonomy.bialetti %}
                      {% if tag == 'ja' %}

                      <img class="svgitem bigger" src="{{ url('theme://custom/logo/mug-hot-solid.svg') }}" />
                      {% endif %}
                      {% endfor %}





                      {% for tag in page.taxonomy.mikrowelle %}
                      {% if tag == 'ja' %}

                      <img class="svgitem bigger" src="{{ url('theme://custom/logo/microwave.svg') }}" />
                      {% endif %}
                      {% endfor %}
                      {% for tag in page.taxonomy.foehn %}
                      {% if tag == 'ja' %}

                      <img class="svgitem bigger" src="{{ url('theme://custom/logo/Foehn.svg') }}" />
                      {% endif %}
                      {% endfor %}


                      {% for tag in page.taxonomy.raclette %}
                      {% if tag == 'ja' %}

                      <img class="svgitem bigger" src="{{ url('theme://custom/logo/Cheese.svg') }}" />
                      {% endif %}
                      {% endfor %}
                      {% for tag in page.taxonomy.fondue %}
                      {% if tag == 'ja' %}

                      <img class="svgitem bigger" src="{{ url('theme://custom/logo/Cheese.svg') }}" />
                      {% endif %}
                      {% endfor %}

                      {% for tag in page.taxonomy.waschmaschine %}
                      {% if tag == 'ja' %}

                      <img class="svgitem bigger" src="{{ url('theme://custom/logo/washer-solid.svg') }}" />
                      {% endif %}
                      {% endfor %}


                      {% for tag in page.taxonomy.waschmaschineaufanfrage %}
                      {% if tag == 'ja' %}

                      <img class="svgitem bigger" src="{{ url('theme://custom/logo/washer-solid.svg') }}" />
                      {% endif %}
                      {% endfor %}


                      {% for tag in page.taxonomy.balkon %}
                      {% if tag == 'ja' %}

                      <img class="svgitem bigger" src="{{ url('theme://custom/logo/balkon.svg') }}" />
                      {% endif %}
                      {% endfor %}
                      {% for tag in page.taxonomy.gartensitzplatz %}
                      {% if tag == 'ja' %}

                      <img class="svgitem bigger" src="{{ url('theme://custom/logo/Chair.svg') }}" />
                      {% endif %}
                      {% endfor %}
                      {% for tag in page.taxonomy.haustiere %}
                      {% if tag == 'ja' %}

                      <img class="svgitem bigger" src="{{ url('theme://custom/logo/paw-solid.svg') }}" />
                      {% endif %}
                      {% endfor %}
                      {% for tag in page.taxonomy.keinehaustiere %}
                      {% if tag == 'ja' %}

                      <img class="svgitem bigger" src="{{ url('theme://custom/logo/No_pets.svg') }}" />
                      {% endif %}
                      {% endfor %}
                      {% for tag in page.taxonomy.skiraum %}
                      {% if tag == 'ja' %}

                      <img class="svgitem bigger" src="{{ url('theme://custom/logo/Ski.svg') }}" />
                      {% endif %}
                      {% endfor %}




                      {% for tag in page.taxonomy.internettv %}
                      {% if tag == 'ja' %}
                      <img class="svgitem bigger" src="{{ url('theme://custom/logo/Internet_TV.svg') }}" />
                      {% endif %}
                      {% endfor %}

                      {% for tag in page.taxonomy.garage %}
                      {% if tag == 'ja' %}
                      <img class="svgitem bigger" src="{{ url('theme://custom/logo/Garage.svg') }}" />
                      {% endif %}
                      {% endfor %}

                      {% for tag in page.taxonomy.einstellhallenplatz %}
                      {% if tag == 'ja' %}
                      <img class="svgitem bigger" src="{{ url('theme://custom/logo/Einstellhallenplatz.svg') }}" />
                      {% endif %}
                      {% endfor %}


                      {% for tag in page.taxonomy.wasserkocher %}
                      {% if tag == 'ja' %}
                      <img class="svgitem bigger" src="{{ url('theme://custom/logo/Wasserkocher.svg') }}" />
                      {% endif %}
                      {% endfor %}



      </div>
      {% if page.header.calendarembed is defined %}
      <div class="brownbutton"><a class="" href="#cal">Jetzt Buchen</a></div>
      {% endif %}
      <div class="markdown ">
        {{ page.content | markdown }}
      </div>

    </article>
    <article class="modular section-image col-12 col-md-6">
      <div class="media-container ">
      {% set image = page.header.image %}
      {% if image %}
       <img class="media startimg" title="Ferien buchen und geniessen!" alt="Immosit" src="{{ page.media[image].url }}">
      {% endif %}
      </div>
    </article>
  </div>
  <div class="row">
  <article class="modular section-gallery col-12 col-md-12 detailgallery">
  <div class="gallery">
  {% for img in page.header.media_order | split(',')%}
    <article style="background-image: url('{{ page.media[img].cropZoom(400,400).url }}');" data-src="{{ page.media[img].cropResize(1920,1080).url }}" data-scale="1"></article>
  {% endfor %}
  </div>
  </article>
  </div>

  {% if page.header.googlemaps is defined %}
  <div class="row">
  <article class="modular section-map col-12 col-md-6 detailmap">
    <div class="media-container">

      <iframe src="{{ page.header.googlemaps | raw}}" width="100%" height="450px" style="border:0;" allowfullscreen="" class="mapiframe" loading="lazy"></iframe>

    </div>
  </article>
  <article class="modular section-text col-12 col-md-6 maptext">
    <div class="beforelinemap"><div>&nbsp;</div></div>
    <div class="markdown secondarytext">
      {{ page.header.secondarytext | markdown }}
    </div>
  </article>
  </div>
  {% endif %}



    {% if page.header.calendarembed is defined %}
    <div class="row">
    <article class="modular section-text col-12 col-md-4">
    <h2 class="belegungsplan">Belegungsplan & Anfrage</h2>
    </article>
      <article class="modular section-map col-12 col-md-8 calendarembed" id="cal">

      {{ page.header.calendarembed | raw}}
        {#<iframe src="" width="100%" style="border:0;" allowfullscreen="" class="califrame" scrolling="no" loading="lazy"></iframe> #}

      </article>
      </div>
    {% endif %}




  <div class="row">
  <article class="modular section-map col-12 col-md-6 features">
    <div class="markdown secondarytext">
    <h2 class="angebottitle">Ausstattung</h2>
    <div class="oz-filtericons descicons">
          {% for tag in page.taxonomy.nichtraucher %}
          {% if tag == 'ja' %}
          <div><div class="imgcontainer"><img class="svgitem bigger" src="{{ url('theme://custom/logo/smoking-ban-solid.svg') }}" /></div><div class="txtcontainer">Nichtraucher</div></div>
          {% endif %}
          {% endfor %}
          {% for tag in page.taxonomy.wlan %}
          {% if tag == 'ja' %}
          <div><div class="imgcontainer"><img class="svgitem bigger" src="{{ url('theme://custom/logo/wlan.svg') }}" /></div><div class="txtcontainer">Wifi</div></div>
          {% endif %}
          {% endfor %}
          {% for tag in page.taxonomy.zentrumsnah %}
          {% if tag == 'ja' %}
          <div><div class="imgcontainer"><img class="svgitem bigger" src="{{ url('theme://custom/logo/ortsmarker.svg') }}" /></div><div class="txtcontainer">Zentrumsnah</div></div>
          {% endif %}
          {% endfor %}
          {% for tag in page.taxonomy.parking %}
          {% if tag == 'ja' %}
          <div><div class="imgcontainer"><img class="svgitem bigger" src="{{ url('theme://custom/logo/parking-solid.svg') }}" /></div><div class="txtcontainer">Parkplatz</div></div>
          {% endif %}
          {% endfor %}
          {% for tag in page.taxonomy.fahrstuhl %}
          {% if tag == 'ja' %}
          <div><div class="imgcontainer"><img class="svgitem bigger" src="{{ url('theme://custom/logo/sort-circle-solid.svg') }}" /></div><div class="txtcontainer">Fahrstuhl</div></div>
          {% endif %}
          {% endfor %}


          {% for tag in page.taxonomy.tv %}
          {% if tag == 'ja' %}
          <div><div class="imgcontainer"><img class="svgitem bigger" src="{{ url('theme://custom/logo/TV.svg') }}" /></div><div class="txtcontainer">TV</div></div>
          {% endif %}
          {% endfor %}
          {% for tag in page.taxonomy.geschirrspueler %}
          {% if tag == 'ja' %}
          <div><div class="imgcontainer"><img class="svgitem bigger" src="{{ url('theme://custom/logo/Fork.svg') }}" /></div><div class="txtcontainer">Geschirrspüler</div></div>
          {% endif %}
          {% endfor %}



          {% for tag in page.taxonomy.nespresso %}
          {% if tag == 'ja' %}
          <div><div class="imgcontainer"><img class="svgitem bigger" src="{{ url('theme://custom/logo/mug-hot-solid.svg') }}" /></div><div class="txtcontainer">Nespresso</div></div>
          {% endif %}
          {% endfor %}

          {% for tag in page.taxonomy.dolcegusto %}
          {% if tag == 'ja' %}
          <div><div class="imgcontainer"><img class="svgitem bigger" src="{{ url('theme://custom/logo/mug-hot-solid.svg') }}" /></div><div class="txtcontainer">Dolce Gusto</div></div>
          {% endif %}
          {% endfor %}

          {% for tag in page.taxonomy.tassimo %}
          {% if tag == 'ja' %}
          <div><div class="imgcontainer"><img class="svgitem bigger" src="{{ url('theme://custom/logo/mug-hot-solid.svg') }}" /></div><div class="txtcontainer">Tassimo</div></div>
          {% endif %}
          {% endfor %}

          {% for tag in page.taxonomy.filtermaschine %}
          {% if tag == 'ja' %}
          <div><div class="imgcontainer"><img class="svgitem bigger" src="{{ url('theme://custom/logo/mug-hot-solid.svg') }}" /></div><div class="txtcontainer">Filtermaschine</div></div>
          {% endif %}
          {% endfor %}

          {% for tag in page.taxonomy.kaffeevollautomat %}
          {% if tag == 'ja' %}
          <div><div class="imgcontainer"><img class="svgitem bigger" src="{{ url('theme://custom/logo/mug-hot-solid.svg') }}" /></div><div class="txtcontainer">Kaffeevollautomat</div></div>
          {% endif %}
          {% endfor %}

          {% for tag in page.taxonomy.bialetti %}
          {% if tag == 'ja' %}
          <div><div class="imgcontainer"><img class="svgitem bigger" src="{{ url('theme://custom/logo/mug-hot-solid.svg') }}" /></div><div class="txtcontainer">Bialetti</div></div>
          {% endif %}
          {% endfor %}






          {% for tag in page.taxonomy.mikrowelle %}
          {% if tag == 'ja' %}
          <div><div class="imgcontainer"><img class="svgitem bigger" src="{{ url('theme://custom/logo/microwave.svg') }}" /></div><div class="txtcontainer">Mikrowelle</div></div>
          {% endif %}
          {% endfor %}
          {% for tag in page.taxonomy.foehn %}
          {% if tag == 'ja' %}
          <div><div class="imgcontainer"><img class="svgitem bigger" src="{{ url('theme://custom/logo/Foehn.svg') }}" /></div><div class="txtcontainer">Föhn</div></div>
          {% endif %}
          {% endfor %}


          {% for tag in page.taxonomy.raclette %}
          {% if tag == 'ja' %}
          <div><div class="imgcontainer"><img class="svgitem bigger" src="{{ url('theme://custom/logo/Cheese.svg') }}" /></div><div class="txtcontainer">Raclette</div></div>
          {% endif %}
          {% endfor %}

          {% for tag in page.taxonomy.fondue %}
          {% if tag == 'ja' %}
          <div><div class="imgcontainer"><img class="svgitem bigger" src="{{ url('theme://custom/logo/Cheese.svg') }}" /></div><div class="txtcontainer">Fondue</div></div>
          {% endif %}
          {% endfor %}

          {% for tag in page.taxonomy.waschmaschine %}
          {% if tag == 'ja' %}
          <div><div class="imgcontainer"><img class="svgitem bigger" src="{{ url('theme://custom/logo/washer-solid.svg') }}" /></div><div class="txtcontainer">Waschmaschine</div></div>
          {% endif %}
          {% endfor %}

          {% for tag in page.taxonomy.waschmaschineaufanfrage %}
          {% if tag == 'ja' %}
          <div><div class="imgcontainer"><img class="svgitem bigger" src="{{ url('theme://custom/logo/washer-solid.svg') }}" /></div><div class="txtcontainer">Waschmaschine a.A.</div></div>
          {% endif %}
          {% endfor %}


          {% for tag in page.taxonomy.balkon %}
          {% if tag == 'ja' %}
          <div><div class="imgcontainer"><img class="svgitem bigger" src="{{ url('theme://custom/logo/balkon.svg') }}" /></div><div class="txtcontainer">Balkon</div></div>
          {% endif %}
          {% endfor %}
          {% for tag in page.taxonomy.gartensitzplatz %}
          {% if tag == 'ja' %}
          <div><div class="imgcontainer"><img class="svgitem bigger" src="{{ url('theme://custom/logo/Chair.svg') }}" /></div><div class="txtcontainer">Gartensitzplatz</div></div>
          {% endif %}
          {% endfor %}
          {% for tag in page.taxonomy.haustiere %}
          {% if tag == 'ja' %}
          <div><div class="imgcontainer"><img class="svgitem bigger" src="{{ url('theme://custom/logo/paw-solid.svg') }}" /></div><div class="txtcontainer">Haustiere willkommen</div></div>
          {% endif %}
          {% endfor %}
          {% for tag in page.taxonomy.keinehaustiere %}
          {% if tag == 'ja' %}
          <div><div class="imgcontainer"><img class="svgitem bigger" src="{{ url('theme://custom/logo/No_pets.svg') }}" /></div><div class="txtcontainer">Haustiere nicht erlaubt</div></div>
          {% endif %}
          {% endfor %}
          {% for tag in page.taxonomy.skiraum %}
          {% if tag == 'ja' %}
          <div><div class="imgcontainer"><img class="svgitem bigger" src="{{ url('theme://custom/logo/Ski.svg') }}" /></div><div class="txtcontainer">Skiraum</div></div>
          {% endif %}
          {% endfor %}


          {% for tag in page.taxonomy.internettv %}
          {% if tag == 'ja' %}
          <div><div class="imgcontainer"><img class="svgitem bigger" src="{{ url('theme://custom/logo/Internet_TV.svg') }}" /></div><div class="txtcontainer">Internet TV</div></div>
          {% endif %}
          {% endfor %}

          {% for tag in page.taxonomy.garage %}
          {% if tag == 'ja' %}
          <div><div class="imgcontainer"><img class="svgitem bigger" src="{{ url('theme://custom/logo/Garage.svg') }}" /></div><div class="txtcontainer">Garage</div></div>
          {% endif %}
          {% endfor %}

          {% for tag in page.taxonomy.einstellhallenplatz %}
          {% if tag == 'ja' %}
          <div><div class="imgcontainer"><img class="svgitem bigger" src="{{ url('theme://custom/logo/Einstellhallenplatz.svg') }}" /></div><div class="txtcontainer">Einstellhallenplatz</div></div>
          {% endif %}
          {% endfor %}


          {% for tag in page.taxonomy.wasserkocher %}
          {% if tag == 'ja' %}
          <div><div class="imgcontainer"><img class="svgitem bigger" src="{{ url('theme://custom/logo/Wasserkocher.svg') }}" /></div><div class="txtcontainer">Wasserkocher</div></div>
          {% endif %}
          {% endfor %}










    </div>
    </div>


  </article>


  {% if page.header.prices is defined %}

  <article class="modular section-map col-12 col-md-6 prices">
    <div class="markdown secondarytext">
    <h2 class="pricetitle">Preise</h2>
    {% for price in page.header.prices %}
    <div class="priceelement"><div class="pricedesc"><div class="saisondesc">{{ saisonname(price.desc) }}</div><div class="saisondate">{{ saisondatum(price.desc) | raw }}</div></div><div class="pricechf">{{ price.chf }}</div></div>
    {% endfor %}
    </div>


  </article>
  </div>
  {% endif %}

  {% if page.header.backtext is defined %}

    <div class="sidebar column is-narrow catfiltercontainer white">
	 	 	<div class="catfilterwrap">
        <p>
        {{ page.header.backtext }}
        </p>
      </div>
      <div class="whitebuttoncontainer"><a class="whitebutton" href="#" onclick="goBack()">Zurück</a>
      {% if page.header.calendarembed is defined %}
      <a class="whitebutton" href="#cal">Buchen</a>
      {% endif %}
      </div>
    </div>


  {% endif %}

  </section>
{% endblock %}
